Repository dead-space-server/space-erida-14, pull requests merged in 2025-09, with the labels that each got.

#13 Smokes
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: size/S, S: Untriaged, Changes: No C#, S: Needs Review

#12 Ghosts
  Content.Client/_White/CustomGhostSpriteSystem/CustomGhostVisualizer.cs
  Content.Server/_White/CustomGhostSpriteSystem/CustomGhostSpriteSystem.cs
  Content.Shared/_White/CustomGhostSystem/CustomGhostPrototype.cs
  Resources/Prototypes/_Erida/CustomGhosts/CustomGhosts.yml
  Resources/Textures/_Erida/CustomGhosts/AmoreMore-ghost.rsi/animated.png
  Resources/Textures/_Erida/CustomGhosts/AmoreMore-ghost.rsi/icon.png
  Resources/Textures/_Erida/CustomGhosts/AmoreMore-ghost.rsi/meta.json
Labels: S: Untriaged, S: Needs Review, Changes: Sprites

#14 lightfix pr
  Content.Client/Light/HandheldLightSystem.cs
  Content.Client/Toggleable/ToggleableVisualsComponent.cs
  Content.Client/Toggleable/ToggleableVisualsSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/Backmen/Language/Systems/SharedTranslatorSystem.cs
  Content.Shared/ContainerHeld/ContainerHeldSystem.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Light/Components/ItemTogglePointLightComponent.cs
  Content.Shared/Light/SharedHandheldLightSystem.cs
  Content.Shared/Toggleable/ToggleActionEvent.cs
  Content.Shared/Toggleable/ToggleableLightVisuals.cs
  Content.Shared/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Shared/Weapons/Misc/SharedTetherGunSystem.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Multiple/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Fun/candy_bucket.yml
  Resources/Prototypes/Entities/Objects/Fun/spectral_locator.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/arabianlamp.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/scanner.yml
  Resources/Prototypes/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/translators.yml
Labels: S: Untriaged, S: Needs Review, size/M

#23 Ghosts
  Resources/Prototypes/_Erida/CustomGhosts/CustomGhosts.yml
  Resources/Textures/_Erida/CustomGhosts/Angel-ghost.rsi/animated.png
  Resources/Textures/_Erida/CustomGhosts/Angel-ghost.rsi/meta.json
Labels: size/S, S: Untriaged, Changes: No C#, S: Needs Review, Changes: Sprites

#28 tweak/Localization of Announces
  Content.Server/StationEvents/Components/MeteorSwarmComponent.cs
  Resources/Audio/Announcements/aliens.ogg
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/attributions.yml
  Resources/Audio/Announcements/gasleak_end.ogg
  Resources/Audio/Announcements/gasleak_start.ogg
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/meteors_start.ogg
  Resources/Audio/Announcements/outbreak7.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/sentience.ogg
  Resources/Audio/Announcements/shuttle_dock.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
  Resources/Audio/Announcements/ventclog.ogg
  Resources/Audio/Announcements/welcome.ogg
  Resources/Audio/_Erida/Announcements/licenses.txt
  Resources/Audio/_Erida/Announcements/solar_flare.ogg
  Resources/Prototypes/GameRules/events.yml
Labels: size/S, S: Untriaged, S: Needs Review, Changes: Audio

#30 Теперь точно переименован
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/shuttleroles/roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/shuttleroles/spawners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/Roles/Jobs/Command/iaa.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#37 [FIX] медибот и другие боты теперь говорят на TauCeti
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: size/S, S: Untriaged, Changes: No C#, S: Needs Review

#39 [FIX] Голопоразит и ИИ понимают языки
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#, S: Needs Review

#40 Емоуты фелинидам
  Resources/Audio/Backmen/Voice/Felinid/attributions.yml
  Resources/Audio/Backmen/Voice/Felinid/cat_growl1.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_hiss1.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_hiss2.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_meow1.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_meow2.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_meow3.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_mew1.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_mew2.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_purr1.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_scream1.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_scream2.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_scream3.ogg
  Resources/Audio/Backmen/Voice/Felinid/cat_wilhelm.ogg
  Resources/Audio/Backmen/Voice/Felinid/license.txt
  Resources/Locale/ru-RU/_Erida/emotes.ftl
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Backmen/Voice/disease_emotes.yml
  Resources/Prototypes/_Backmen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Erida/SoundCollections/felinid.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: Audio

#43 [Add/Tweak] РПС офицера "Синего Щита"
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Prototypes/_Backmen/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_Erida/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Erida/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Textures/_Erida/Objects/Specific/Medical/hypospray.rsi/hypoblueshield.png
  Resources/Textures/_Erida/Objects/Specific/Medical/hypospray.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M, Changes: Sprites

#47 Decrease MinHuesLightness in HumanoidEditor
  Content.Shared/Humanoid/SkinColor.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#53 Fireaxe/Unknown Shuttles Nerf
  Resources/Locale/ru-RU/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_Backmen/tool_qualities.yml
Labels: S: Untriaged, Changes: No C#

#51 Nosheniye
  Content.Server/Nyanotrasen/Carrying/BeingCarriedComponent.cs
  Content.Server/Nyanotrasen/Carrying/CannotCarryComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarriableComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingDoAfterEvent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownSystem.cs
  Content.Shared/Nyanotrasen/Carrying/EscapeDoAfterEvent.cs
  Resources/Locale/ru-RU/Nyanotrasen/Carrying/carrying-locale.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
Labels: S: Untriaged, S: Needs Review, size/M

#58 [PORT] try to fix RGA and YAML map scheme validators
  .github/Schemas/mapfile_requirements.txt
  .github/Schemas/rga.yml
  .github/Schemas/rga_requirements.txt
  .github/Schemas/rga_validators.py
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  Resources/Textures/_Erida/Interface/Emotes/attributions.yml
Labels: size/S, S: Untriaged, Changes: No C#, S: Needs Review
